body {
  background-color: hsl(205, 67%, 96%);
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(204, 75%, 17%);
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 60px;
  padding: 0px 10px;
}
